<div class="wrapper search-wrapper">
  <div class="shortcuts search-shortcuts">
    <div class="second-col search-col">
      <h6 class="title">
        Search results
      </h6>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'posts/friends.png', alt: ""%>
          </div>
          <h4>Home </h4>
        </div>
      </div>
      <div class="menu-item active">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'posts/request.png', alt: ""%>
          </div>
          <h4>Friend requests </h4>
        </div>
      </div>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'posts/add_friend.png', alt: ""%>
          </div>
          <h4>Suggestions </h4>
        </div>
      </div>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'posts/friends.png', alt: ""%>
          </div>
          <h4>All friends </h4>
        </div>
      </div>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'posts/gift-box-with-a-bow.png', alt: ""%>
          </div>
          <h4>Birthdays </h4>
        </div>
      </div>
      <div class="menu-item">
        <div class="item-row">
          <div class="icon icon-second">
            <%= image_tag 'posts/friends.png', alt: ""%>
          </div>
          <h4>Custom list </h4>
        </div>
      </div>
    </div>
  </div>
</div>

