<%= form_with(model: post, url: posts_path) do |form| %>
  <div>
    <%= form.text_area :content, placeholder: "What are you thinking?" %>
    <%= form.number_field :user_id, id: :post_user_id,  value: current_user.id, type: "hidden"%>
    <%= form.number_field :parent_id, id: :parent_id,  value: @parent_id, type: "hidden"%>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
